/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  font-family: inter;
  margin-left: 200px;
}

.attendance {
  background-color: white;
  box-shadow: 0px 3px 2px rgb(226, 224, 224);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-text {
  margin-right: 20px;
  color: rgb(67, 67, 67);
}
.collapseMenu {
  display: none;
}
.sidebar {
  background-color: #e91be925;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}
.logo {
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 50%;
}
.logo p {
  color: #e91be9;
  font: bold 20px bold;
}
.menu ul {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 20px;
  transition: 1s;
}

.menu li {
  list-style: none;
  padding: 10px;
  position: relative;
}
.menu a {
  text-decoration: none;
  color: rgb(67, 67, 67);
  font-weight: 450;
  display: flex;
}
.menu ul :hover {
  background-color: #f7ecec;
  color: #e91be9;
}
.menu ul .active {
  background-color: #f7ecec;
  color: #e91be9;
  border-left: 3px solid #e91be9;
}

/* .menu ul :active{
  border-left: 4px solid #e91be9;
  color: red;
transform:translate(2);
} */
/* .menu-icon img :hover {
  background-color: #ebebeb;
  color: #e91be9;
} */

.menu-list p {
  margin-left: 10px;
}

.stroke {
  width: 2.5px;
  height: 25px;
  border-radius: 5px;
  background-color: #e91be9;
  float: left;
  position: absolute;
  left: 0;
  display: none;
}
.stroke:active {
  display: block;
}

.clock {
  padding: 13px;
  width: 160px;
  border: none;
  background-color: #e91be9;
  color: white;
  border-radius: 18px;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
}
.clock a {
  color: white;
  font-size: 14px;
}
.clock:hover {
  opacity: 0.7;
  transition: 0.8s ease-out;
}

.welcometext {
  /* padding: 1rem; */
  margin: 1rem 0;
}
.welcome {
  padding: 10px;
}
.main-clocking {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}
.timebuttons {
  background-image: linear-gradient(to right, #e91be9, #8587e7);
  display: flex;
  justify-content: space-between;
  /* width: 700px; */
  height: 120px;
  padding: 1rem 1rem;
  border-radius: 8px;
  margin-right: 40px;
}
.time {
  border: none;
  border-right: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 15px;
  margin: 10px;
  font-size: 16px;
}
.dateStamp {
  display: flex;
  align-items: center;
  color: white;
}
.section1 {
  /* display: flex;

  justify-content: space-between;
  align-items: center; */
  /* background-color: green;   */
}
.right-section {
  display: flex;
  flex-direction: column;
}
.clock-img {
  margin: 0 auto;
}
.illustration img {
  height: 350px;
}
.scanner {
  background-color: white;
  height: 300px;
  width: 250px;
  padding: 20px;
  margin: 1rem;
  border-radius: 10px;
}
.inner {
  border: 1px solid #e91be9;
  height: 100%;
  border-radius: 10px;
  position: relative;
}
.scanner img {
  height: 80px;
  background-color: transparent;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  top: 100px;
}
.section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
}

/* popup css*/
.popup {
  width: 900px;
  height: 550px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: rgba(248, 248, 248, 1);
  box-shadow: 2px 2px 5px rgb(172, 171, 171);
  border-radius: 10px;
}
.exit {
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 5px rgb(172, 171, 171);
  padding: 7px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.user {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.profilePic {
  width: 280px;
}
.pic {
  width: 250px;
}
.jobRole {
  text-align: center;
  margin-top: 8px;
  color: rgba(168, 168, 168, 1);
}

.userInfo {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}
.fields {
  margin: 5px;
}
.fields p {
  padding: 2px;
}
.subject {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.currentTime {
  margin: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 240px;
  box-shadow: 2px 2px 5px rgb(172, 171, 171);
  text-align: center;
  border-radius: 10px;
}
.cT {
  color: #e91be9;
  font-weight: 600;
  padding: 20px;
}
.card3 {
  margin: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 240px;
  height: 300px;
  box-shadow: 2px 2px 5px rgb(172, 171, 171);
  border-radius: 10px;
}
.dayStatus {
  color: #e91be9;
}
.weekDay {
  padding: 10px;
}
.weekDay h3 {
  color: #e91be9;
  padding-bottom: 8px;
}
.introBar {
  background: linear-gradient(to right, #b0c9d7, #e91be9);
  height: 100px;
  width: 97%;
  border-radius: 10px;
  /* align-items: center; */
  /* display: flex;
  justify-content: left; */
}
.admin {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
}

/* responsiveness */
@media only screen and (max-width: 900px) {
  .section1 {
    flex-direction: column;
  }
  .timebuttons {
    width: 400px;
  }
  .collapseMenu {
    cursor: pointer;
    display: flex;
  }
  /* .collapse {
    display: none;
  } */
  .sidebar {
    /* display: none; */
    background-color: #ffff;
    box-shadow: 0px 0px 5px rgb(67, 67, 67);
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
  }
  .main-clocking {
    flex-direction: column;
    overflow: hidden;
    margin: 0;
  }
  body {
    margin-left: 0;
  }
}
