.form-border {
  background-color: white;
  padding: 20px;
  box-shadow: 1px;
  /* width: 700px; */
  margin: 20px;
  box-shadow: 0 0 3px 2px rgb(226, 224, 224);
  border-radius: 8px;
}
.name {
  display: flex;
  margin: 50px;
}
.staff {
  display: flex;
  flex-direction: column;
}
.staff input {
  width: 600px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid rgba(234, 234, 234, 1);
}
.cancel {
  height: 40px;
  margin-right: 10px;
  border: none;
  padding: 10px;
}
.approve {
  background-color: #e91be9;
  color: white;
  height: 40px;
  border: none;
  border-radius: 4px;
  padding: 10px;
}
.approve:hover {
  background-color: #ebb5eb;
  transition: 0.5s ease-out;
}
.formButtons {
  display: flex;
  justify-content: end;
  border: none;
}
::placeholder {
  font-family: poppins;
  font-size: 14px;
}
textarea {
  border: 1px solid rgb(212, 210, 210);
  border-radius: 4px;
}
.duration-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.duration-input span {
  display: flex;
  align-items: center;
  width: 400px;
  margin: 1rem;
}
.duration-input input {
  margin: 0 20px;
}
select {
  width: 100%;
}
