.schedule-staff {
  display: flex;
  align-items: center;
  padding: 20px;
}
.userName {
  margin-right: 10px;
}
.monthSum {
  color: rgba(127, 124, 124, 1);
  font-size: 14px;
}
.schedule-sheet {
  display: flex;
}
.calendar,
th,
.payClass {
  border: 1px solid rgba(168, 168, 168, 1);
  border-collapse: collapse;
  /* padding: 20px; */
}
td {
  padding: 20px;
}
.calendar-div {
  width: 90%;
}
.calendar {
  width: 80%;
  margin: 25px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgba(168, 168, 168, 1);
}
th {
  border: none;
  margin: 20px;
}
.payroll-date {
}
.payroll-clockIn {
  background-color: rgba(205, 220, 251, 1);
  margin-right: 20px;
  padding: 10px;
  gap: 10px;
}
.payroll-lunchBreak {
  background-color: rgba(251, 205, 233, 1);
}
.payroll-clockOut {
  background-color: rgba(211, 251, 205, 1);
}
.payroll-off {
  background-color: rgba(217, 217, 217, 1);
}

.scroll {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 30px;
  height: 400px;
  background-color: white;
  box-shadow: 2px 2px 4px grey;
  border-radius: 10px;
}
.schedule-heading {
  margin: 20px;
}
.up,
.down {
  border: none;
}
.page-tabBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(205, 205, 205, 1);
}
.tab-buttons {
  padding: 20px;
}
.tButton {
  margin: 45px;
  cursor: pointer;
  color: rgba(130, 130, 130, 1);
}
.content {
  margin: 0 30px;
}
.actives {
  color: #e91be9;
  border-bottom: 3px solid #e91be9;
  border-radius: 3.5px;
  padding: 5px;
  margin: 10px;
  transition: 1s;
}
.total {
  margin: 10px 50px;
  padding: 10px 50px;
  background-color: #e91be9;
  border: none;
  border-radius: 4px;
  color: white;
}
.sum {
  padding: 10px 60px;
  background-color: white;
  border: 1px solid #e91be9;
  border-radius: 4px;
  color: #e91be9;
}
/* .sumButtons{
    display: flex;
  } */

/* responsiveness */
@media only screen and (max-width: 900px) {
  .tButton {
    margin: 10px;
  }
}
